body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(#0f2027, #203a43, #2c5364);
    color: white;
}

header {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    margin-top: 50px;
}

.profile {
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

.highlight {
    color: yellow;
}

.btn {
    padding: 10px 20px;
    border: none;
    background: yellow;
    color: black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
}

.content-card {
    background: rgba(255,255,255,0.1);
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border-bottom: 1px solid white;
    padding: 10px;
}
